include pug__components/configuration.pug 
doctype html 
html 
    include pug__components/head.pug 

    body 
        div.container
            include pug__components/header.pug
            include pug__components/main.pug
            include pug__components/footer.pug