include pug__components/configuration.pug 
doctype html 
html(lang="en")
    include pug__components/head.pug 

    body 
        .container
            include pug__components/header.pug
            include pug__components/main.pug
            include pug__components/footer.pug
        script(src="./index.js") 