section.earlyAccess
    .earlyAccess--form
        h2.earlyAccess--title Get early access today
        p.earlyAccess--paragraph It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
        .inputs-container
            input.earlyAccess--input(type="email", name="email", placeholder="email@example.com")
            button.earlyAccess--btn(onclick="validateEmail()")  Get Started For Free
        p.earlyAccess--error(style="display:none;") Error, please check your email