footer.footer 
    img.footer--logo(src="./../images/logo.svg", alt="")
    .footer--container
        .footer--container--direction
            +pageInfoContent(pageInfoIcons[0],pageInfoTexts[0])
        .footer--container--contact
            +pageInfoContent(pageInfoIcons[1],pageInfoTexts[1])
            +pageInfoContent(pageInfoIcons[2],pageInfoTexts[2])
        ul.footer--container--sitemap1 
            each index in [0,1,2,3]
                +footerElement(footerTexts[index])
        ul.footer--container--sitemap2 
            each index in [4,5,6]
                +footerElement(footerTexts[index])
        .footer--container--socials
            each icon in socialMediaIcons
                img(src="./../images/"+icon+".svg", alt="")        