.earlyAccess
    margin-top: 160px
    padding: 0 20px
    &--form
        padding: 40px 28px 37px
        background-color: $Primary-color-intro-email
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

    &--title
        @include title
        font-size: 1.8rem

    &--paragraph
        @include paragraph
        margin-top: 16px

    &--input
        margin-top: 32px
        padding: 18px 29px
        width: 280px
        border-radius: 24px

    &--btn
        @include primary-btn
        margin-top: 24px
        width: 280px
        padding: 16px 70px